@model IEnumerable<MBSAdminApp.Models.Stok>
@{
    ViewData["Title"] = "Data Stok Bahan";
}

<h2>@ViewData["Title"]</h2>

<p><a asp-action="Create" class="btn btn-primary">Tambah Data Stok</a></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Jenis Bahan</th>
            <th>Total Masuk (Kg)</th>
            <th>Total Keluar (Kg)</th>
            <th>Sisa Stok (Kg)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.JenisBahan</td>
                <td>@item.TotalMasuk</td>
                <td>@item.TotalKeluar</td>
                <td>@item.SisaStok</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Hapus</a>
                </td>
            </tr>
        }
    </tbody>
</table>
