@model MBSAdminApp.Models.Penjualan
@{
    ViewData["Title"] = "Detail Penjualan";
}

<h2>@ViewData["Title"]</h2>

<div>
    <dl class="row">
        <dt class="col-sm-4">Nama Pembeli</dt>
        <dd class="col-sm-8">@Model.NamaPembeli</dd>

        <dt class="col-sm-4">Jenis Produk</dt>
        <dd class="col-sm-8">@Model.JenisProduk</dd>

        <dt class="col-sm-4">Jumlah (Kg)</dt>
        <dd class="col-sm-8">@Model.JumlahKg</dd>

        <dt class="col-sm-4">Harga/Kg</dt>
        <dd class="col-sm-8">@Model.HargaPerKg.ToString("C")</dd>

        <dt class="col-sm-4">Total Harga</dt>
        <dd class="col-sm-8">@Model.TotalHarga.ToString("C")</dd>

        <dt class="col-sm-4">Tanggal</dt>
        <dd class="col-sm-8">@Model.Tanggal.ToShortDateString()</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Kembali</a>
</p>
